.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.accordionItem {
  border-bottom: 1px solid #ccc;
}

.accordionTitle {
  background-color: #f1f1f1;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordionTitle.active {
  background-color: #e0e0e0;
}

.accordionContent {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  font-size: 16px;
}

.arrow {
  font-size: 18px;
}
