.accordion{

margin: 4rem auto;
}

.faq-header {
  color: #FF7A00;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.accordion {
  padding: 20px;
}

.faq-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.faq-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;

}

.accordionItem {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  margin-bottom: 15px;
  width: 500px;
  padding: 20px 25px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.accordionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

.accordionTitle p {
  margin: 0;
}

.accordionContent {
  padding-top: 15px;
  font-size: 0.9rem;
  color: #555;
}

.accordion .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}