.knowlegdeHead{
    text-align: center;
    font-size: 3rem;
    margin: 3rem;
}

.knowledgeLogo{
    display: flex;
    justify-content:center;
}


.imgContainer{
    position:relative;
    width: 300px;
    height: 90px;
}